*{
    background-color: rgb(249, 207, 214);
    font-family: 'Times New Roman', Times, serif;
 
}
a{
    color: blueviolet;

}
h2{
    color: blue;
    text-decoration: underline;
    text-align: center;
}
table {
    margin: 0 auto;
    border: 1px solid blueviolet;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}
th{
    color: blueviolet;
}
th, td {
    padding: 10px;
    border-color: blueviolet;

} 
